// Define colors
$primary-color: #41cccc;
$secondary-color: #344054;
$review-bg: #f4b000;
$breadcrumb-bg: #f8f9fa;

// Define sizes
$font-size: 16px;
// Define grid container and column settings
$container-max-width: 1200px;
$grid-gutter-width: 15px;
$columns: 12;
// Define card colors and fonts
$card-bg: #ffffff;
$card-border: #dddddd;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-border-radius: 8px;
$card-padding: 16px;
$general-color: #344054;
